.mock-warning.hide{
    opacity: 0;
}

.mock-warning {
    color: #FFFFFF;
    text-align: center;

    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
     opacity: 1;
}